#wrapper {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#blurred {
    position: absolute;
    z-index: 0;
    filter: blur(40px);
    overflow: hidden;
}

#cover {
    z-index: 1;
    position: relative;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
