# DIRs
__pycache__/
.vscode/
data/
utils_local/
muse-frontend/node_modules
logs/
dbs/
eggs/

# Files
configs.py
lyrics.txt
songs.txt
musebackendserver/muse/apps/endpoints/congfigs.py

# Database
db.sqlite3
twistd.pid